.title{
    text-align: center;
    font-size: 3.1rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.text{
    text-align: center;
}

.top{
    margin-top:50px ;
}

.fruittext{
    text-align: center;
    padding-top: 1rem;
}