.Header {
  font-size: 70px;
  color: red;
}

.logo {
  width: 150px;
  height: auto;
}
.headerTop {
  background-color: #347758;
  position: fixed;
  width: 100%;
  z-index: 1;
  top: 0;

}
.headerTopSpan {
  color: #f4c340;
}

.headerLeftNumber {
  color: #3d3d3d;
  font-size: 16px;
  font-weight: 700;
  cursor: default;
}

.headerRight {
  // display: flex;
  // justify-content: end;
  display: flex;
  justify-content: flex-end;
  gap: 20px;
}

.hr {
  color: #3477585c;
}

.brand {
  color: #f4c340;
  font-size: 20px;
  font-weight: 700;
  cursor: default;
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin-top:1rem ;
}

.langButoon{
  margin-top:1rem ;
}

@media screen and (max-width: 768px) {
  // .langButoon {
  //   display: none;
  // }
  .headerLeft {
    display: none;
  }
  .headerRight {
    display: none;
  }
  .hr {
    display: none;
  }
  .logo {
    width: 120px;
    height: auto;
  }
}

