.Header {
  font-size: 70px;
  color: red;
}

.logo {
  width: 150px;
  height: auto;
}
.headerTop {
  background-color: #347758;
  p {
    color: white;
    font-size: 12px;
    font-weight: 700;
    margin: 1rem;
    cursor: default;
  }
}
.headerTopSpan {
  color: #f4c340;
}

.headerLeftNumber {
  color: #3d3d3d;
  font-size: 16px;
  font-weight: 700;
  cursor: default;
}

.headerRight {
  // display: flex;
  // justify-content: end;
  display: flex;
  justify-content: flex-end;
  gap: 20px;
}

.hr {
  color: #3477585c;
}

@media screen and (max-width: 768px) {
  // .langButoon {
  //   display: none;
  // }
  .headerLeft {
    display: none;
  }
  .headerRight {
    display: none;
  }
  .hr {
    display: none;
  }
  .logo {
    width: 120px;
    height: auto;
  }
}
