.logo{
    width: 300px;
    height: 300px;
 
}

h1{
    font-size: 4rem;
    text-transform: uppercase;
    font-weight: 500;
    font-family: Poppins, HelveticaNeue, Helvetica Neue, sans-serif;
    color: #0d7a52;
    line-height: 1;
}

.p{
    font-size: 1.1rem;
    font-weight: 800;
    font-family: Poppins, HelveticaNeue, Helvetica Neue, sans-serif;
    color: #78b144;
    text-transform: uppercase;
}

.left{
    text-align: center;
}
