.logo{
    width: 300px;
    height: 300px;
 
}

h1{
    font-size: 3.2rem;
    text-transform: uppercase;
    font-weight: 800;
    font-family: Poppins, HelveticaNeue, Helvetica Neue, sans-serif;
    color: #0d7a52;
    line-height: 1;
}

.p{
    margin-top: 1rem;
    font-size: 1rem;
    font-weight: 800;
    font-family: Poppins, HelveticaNeue, Helvetica Neue, sans-serif;
    color: #78b144;
    text-transform: uppercase;
    text-decoration: none;
}

.left{
    text-align: center;
}

.call{
    border-radius: 10%;
    border: none;
    background: #0d7a52;
    color: white;

}